
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2c3e50;
    padding: 25px 40px;
    color: white;
}

.logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.main {
    padding: 30px;
}

.maintenance {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 15px;
    margin-top: 20px;
    color: #856404;
    font-family: Arial, sans-serif;
}
.maintenance h2 {
    margin-top: 0;
}